*.ipr
*.iws
*.iml
*.class
*.zip

# ignore target directory.Don't ignore target files. 
target/
log/
**/log
logs/
**/logs
**/target
out/
.idea/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#ignore all .jar files;
*.jar
*.war
*.ear